/**
 * CT Plugin Settings Styles
 */

/* More space for field labels */

#ctps-form .form-table th {
	width: 220px; /* standard is 200px */
}

/* Hide tabs and form before load */

#ctps-tabs,
#ctps-form,
#ctps-form tr,
.ctps-section-desc {
	display: none;
}

/* Text */

.ctps-light {
	color: #595959;
}

.ctps-italic {
	font-style: italic;
}

/* Name */

.ctps-after-name,
.ctps-after-name a { /* e.g. (Optional) or (Pro) */
	color: #595959;
	font-weight: normal;
	text-decoration: none;
}

/* Input */

.ctps-textarea {
	width: 400px;
	height: 100px;
}

.ctps-width-100 {
	width: 200px;
}

.ctps-width-150 {
	width: 200px;
}

.ctps-width-200 {
	width: 200px;
}

.ctps-width-250 {
	width: 200px;
}

.ctps-width-300 {
	width: 200px;
}