/**
 * CT Plugin Settings Styles
 */

/* Hide tabs and form before load */

#ctps-tabs,
#ctps-form,
#ctps-form tr,
.ctps-section-desc {
	display: none;
}

/* Name */

.ctps-after-name { /* (Optional) or (Required) */
	color: #595959;
	font-weight: normal;
}

/* Input */

.ctps-textarea {
	width: 400px;
	height: 100px;
}

