/**
 * CT Plugin Settings Styles
 */

/* More space for field labels */

#ctps-form .form-table th {
	width: 220px; /* standard is 200px */
}

/* Hide tabs and form before load */

#ctps-tabs,
#ctps-form,
#ctps-form tr,
.ctps-section-desc {
	display: none;
}

/* Text */

#ctps-content > p,
.ctps-section-desc {
	font-size: 14px;
}

.ctps-light {
	color: #595959;
}

.ctps-italic {
	font-style: italic;
}

/* Name */

.ctps-after-name,
.ctps-after-name a { /* e.g. (Optional) or (Pro) */
	color: #595959;
	font-weight: normal;
	text-decoration: none;
}

/* Inline Radio */

.ctps-radio-container.ctps-inline {
	margin-bottom: 2px;
	display: inline-block;
}

.ctps-radio-container.ctps-inline:not(:last-child) {
	margin-right: 12px;
}

/* Upload */

.ctps-upload,
.ctps-upload_textarea,
.ctps-upload-file {
	vertical-align: middle;
}

.ctps-upload {
	margin-right: 5px;
}

.ctps-upload-image {
	display: none;
	max-width: 100%;
	margin-top: 18px;
	margin-left: 1px;
}

/* Sizing */

.ctps-textarea {
	width: 400px;
	height: 100px;
}

.ctps-width-100 {
	width: 100px;
}

.ctps-width-150 {
	width: 150px;
}

.ctps-width-200 {
	width: 200px;
}

.ctps-width-250 {
	width: 250px;
}

.ctps-width-300 {
	width: 300px;
}

.ctps-width-350 {
	width: 350px;
}

.ctps-width-400 {
	width: 400px;
}

.ctps-width-500 {
	width: 500px;
}